<div id="order-form">
  <h2>Your Order</h2>
              
  <table id="live-order" class="table">
      
        <%= render 'order_items/order_total' %>
        
      <tr>
        <th>Item</th>
        <th class="text-center slim-column">Rs.</th>
        <th class="text-center slim-column">Qty</th>
        <th class="text-center"></th>
      </tr>
      <%= render @orderitems %>
      
  </table>
</div>