<tr id="live-order-total">
  <td class="wide-column"><h4>Order Total</h4></td>
  <td colspan="2"><h4><%= "Rs. #{@total_price}" %></h4></td>
  <td class="text-right"><%= render 'restaurants/stripe' %></td>
</tr>